* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, #da0fdd, #8400ac);
}

.container {
    display: flex;
    width: 800px;
    height: 600px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.image-section {
    flex: 1;
    background-size: cover;
}

.form-section {
    flex: 1;
    background: #1a1a1a;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    outline: none;
    padding-top: 20px;
}
.form-group input::placeholder {
    color: #aaa;
}
.form-group select {
    background-size: 12px;
}
.form-group select option {
    background: #1a1a1a;
    color: #fff;
}
button {
    width: 100px;
    padding: 10px;
    background: #00cc00;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;

}
